{%extends 'base.html'%}

{%load static%}

    {% block page%}

{% if user.is_authenticated %}
<div class="formlogin" style="margin-top: 90px; padding:20px" >
you already login as {{user.username}}, are you want to <a href="{% url 'logout' %}">logout</a>
</div>
{% else %}

<form class="formlogin" method="post" style="padding: 40px; width: 50%; margin:90px auto; border: 1px #333 solid ; border-radius: 5px;">
{% csrf_token %}

<h2 class="form-title" style="text-align: center">Login Form</h2>
<br>
    <div class="form-group row">
        <label class="form-label col" >Username</label>
        <div class="col-md-9">
            <input type="text" name="username" class="form-control" placeholder="username">
        </div>
    </div>

    <div class="form-group row">
        <label class="form-label col" >Password</label>
        <div class="col-md-9">
            <input type="password" name="password" class="form-control" placeholder="password">
        </div>
    </div>

    <input class=" btn btn-info btn-form" style="margin: auto" width="130px" type="submit" value="Submit">

</form>
{% endif %}

{%endblock%}