{%extends 'base.html'%}

{%load static%}

{%block style%}
<link rel="stylesheet" href="{% static 'css/productsList.css'%}">
{%endblock%}

{% block page%}

        <div class="container" style="margin-top: 100px">
			{% for cat in productsList %}
            <h3 class="h3"> {{ cat.0.category }} </h3>
            <div class="row">
				{% for product_o in cat %}
                <!--  -->
                <div class="col-md-3 col-sm-6 " style="margin-top: 12px" >
                    <div class="product-grid6">
                        <div class="product-image6">
                            <a href="#">
                                <img
                                    class="pic-1"
                                    src="{{product_o.pic1.url}}">
                            </a>
                        </div>
                        <div class="product-content">
                            <h3 class="title"> 
                                <a href="#">{{product_o.name}}</a>
                            </h3>
                            <div class="price">{{product_o.price}} .EGP
                            </div>
                        </div>
                        <ul class="social">
                            <li>
                                <a href="{% url 'product' product_o.name %}" data-tip="Quick View">
                                    <i class="fa fa-search"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="add_wish_item({{product_o.pk}},'{{product_o.name}}')" data-tip="Add to Wishlist">
                                    <i class="fa fa-shopping-bag"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="add_item('{{product_o.name}}',{{product_o.pk}})" data-tip="Add to Cart">
                                    <i class="fa fa-shopping-cart"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
				</div>
				{% endfor %}
                <!-- fsfds-->
            </div>
		{% endfor %}
		</div>

        
{%endblock%}